.section-intro {
  display: flex;
  margin-top: 120px;
}


.section-intro :nth-child(1) {
  margin: 0;
}


.intro-box {
  background-color: #202a3c;
  box-shadow: 5px 5px 8px rgba(56, 56, 56, 0.0991282);
  border-radius: 3.93258px;
  padding-top: 40px;
  padding-left: 26px;
  padding-bottom: 24px;
  padding-right: 26px;
  margin-left: 50px;
}


.warapper-box {
  margin-left: 8px;
}

.intro-box-text {
  width: 309px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.5px;
  color: #fff;
}

.intro-wrapper {
  display: flex;
  margin-top: 24px;
}

.intro-img {
  width: 24px;
  height: 24px;
}

.warapper-box-text {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.5px;
  color: #fff;
}

.wrapper-intro-text {
  font-size: 7px;
  line-height: 10px;
  letter-spacing: 0.5px;
  color: #fff;
}

@media only screen and (max-width: 1215px) {

  .section-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
  }

  .intro-box {
    width: 360px;
    background-color: #202a3c;
    box-shadow: 5px 5px 8px rgba(56, 56, 56, 0.0991282);
    border-radius: 3.93258px;
    padding-top: 40px;
    padding-left: 26px;
    padding-bottom: 24px;
    padding-right: 26px;
    margin: 0;
    margin-bottom: 24px;
  }

  .section-intro :nth-child(1) {
    margin-bottom: 24px;
  }

}

@media only screen and (max-width: 385px) {

  .section-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
  }

  .intro-box {
    width: 280px;
    background-color: #202a3c;
    box-shadow: 5px 5px 8px rgba(56, 56, 56, 0.0991282);
    border-radius: 3.93258px;
    padding-top: 40px;
    padding-left: 26px;
    padding-bottom: 24px;
    padding-right: 26px;
    margin: 0;
    margin-bottom: 24px;
  }

  .section-intro :nth-child(1) {
    margin-bottom: 24px;
  }


  .intro-box-text {
    width: 240px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.5px;
    color: #fff;
  }
}